# Model Selection

In [9]:
library(wooldridge)
library(dplyr)

setwd("C:/Users/fernando.diazh/Dropbox/USM/C-MAD/Codes")

# 1. Forward Stepwise Selection

In [10]:
data <- wage2
head(data)
names(data)

  wage hours IQ  KWW educ exper tenure age married black south urban sibs
1  769 40     93 35  12   11     2     31  1       0     0     1      1
2  808 50    119 41  18   11    16     37  1       0     0     1      1
3  825 40    108 46  14   11     9     33  1       0     0     1      1
4  650 40     96 32  12   13     7     32  1       0     0     1      4
5  562 40     74 27  11   14     5     34  1       0     0     1     10
6 1400 40    116 43  16   14     2     35  1       1     0     1      1
  brthord meduc feduc lwage
1  2       8     8    6.645091
2 NA      14    14    6.694562
3  2      14    14    6.715384
4  3      12    12    6.476973
5  6       6    11    6.331502
6  2       8    NA    7.244227

 [1] "wage"    "hours"   "IQ"      "KWW"     "educ"    "exper"   "tenure"
 [8] "age"     "married" "black"   "south"   "urban"   "sibs"    "brthord"
[15] "meduc"   "feduc"   "lwage"

In [11]:
data <- data %>% select(-wage)
data <- data  |> na.omit()

**Mo**

In [12]:
intercept_only <- lm(lwage ~ 1, data=data)
summary(intercept_only)

Call:
lm(formula = lwage ~ 1, data = data)

Residuals:
     Min       1Q   Median       3Q      Max
-2.06936 -0.26465  0.02839  0.27578  1.21774

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)  6.81430    0.01601   425.7   <2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.4122 on 662 degrees of freedom

**Mp**

In [13]:
full_model <- lm(lwage ~ ., data=data)
summary(full_model)

Call:
lm(formula = lwage ~ ., data = data)

Residuals:
     Min       1Q   Median       3Q      Max
-1.96887 -0.19460  0.00923  0.22401  1.34185

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept)  5.156439   0.225286  22.888  < 2e-16 ***
hours       -0.006548   0.001934  -3.385 0.000754 ***
IQ           0.003186   0.001223   2.604 0.009425 **
KWW          0.003735   0.002390   1.562 0.118662
educ         0.041267   0.008942   4.615 4.74e-06 ***
exper        0.010749   0.004435   2.424 0.015629 *
tenure       0.007102   0.002894   2.454 0.014401 *
age          0.009107   0.005977   1.524 0.128058
married      0.200760   0.045998   4.365 1.48e-05 ***
black       -0.105141   0.055667  -1.889 0.059373 .
south       -0.049076   0.030753  -1.596 0.111019
urban        0.195658   0.031240   6.263 6.88e-10 ***
sibs         0.009619   0.007876   1.221 0.222423
brthord     -0.018465   0.011569  -1.596 0.110975
meduc        0.009633   0.006167   1.562 0.118753
feduc        0.005590   0.005398   1.036 0.300804
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.3507 on 647 degrees of freedom
Multiple R-squared:  0.2925,	Adjusted R-squared:  0.2761
F-statistic: 17.84 on 15 and 647 DF,  p-value: < 2.2e-16

**Forward Stepwise**

In [14]:
forward <- step(intercept_only, direction='forward', scope=formula(full_model), trace=0)

In [15]:
forward$anova

   Step      Df Deviance   Resid. Df Resid. Dev AIC
1            NA         NA 662       112.48316  -1174.143
2  + educ    -1 11.6940171 661       100.78915  -1244.922
3  + urban   -1  5.0402263 660        95.74892  -1276.935
4  + exper   -1  4.5761402 659        91.17278  -1307.404
5  + married -1  2.8110673 658        88.36171  -1326.168
6  + IQ      -1  2.6591333 657        85.70258  -1344.426
7  + tenure  -1  1.3420426 656        84.36054  -1352.891
8  + meduc   -1  1.1471897 655        83.21335  -1359.968
9  + hours   -1  1.0530597 654        82.16029  -1366.412
10 + age     -1  0.8028944 653        81.35739  -1370.923
11 + black   -1  0.6104059 652        80.74699  -1373.916
12 + south   -1  0.4016618 651        80.34532  -1375.222
13 + KWW     -1  0.2743057 650        80.07102  -1375.490

In [16]:
forward$coefficients

 (Intercept)         educ        urban        exper      married           IQ
 5.134459839  0.042825089  0.196126971  0.010332851  0.203742883  0.003272505
      tenure        meduc        hours          age        black        south
 0.006942879  0.013480167 -0.006370832  0.009068384 -0.096555952 -0.057884730
         KWW
 0.003546499

**Fitting the Best Model**